
<!-- Главное меню начало -->
<div class="col-sm-4 offset-md-1 py-4">
    <h4>Меню</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'catalog:index' %}" class="text-white">Главная</a></li>
        <li><a href="{% url 'catalog:category_list' %}" class="text-white">Категории</a></li>
        <li><a href="{% url 'catalog:product_list' %}" class="text-white">Все товары</a></li>
        <li><a href="{% url 'catalog:contact' %}" class="text-white">Контакты</a></li>
        <li><a href="{% url 'vlog:post_list' %}" class="text-white">Блог</a></li>
    </ul>
</div>
<!-- Главное меню конец -->
