
{% extends 'catalog/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
    <div class="col-12">
        <form class="row justify-content-center" method="post" enctype="multipart/form-data">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Мой профиль</h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                            <a href="{% url 'users:generate_new_password' %}" class="btn btn-warning ml-auto">Сгенерировать пароль</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    </div>
{% endblock %}
