{% extends 'catalog/base.html' %}


{% block content %}
    <div class="row">
    <!-- форма для удаления категории -->
    <div class="col-md-6 offset-md-3">
        < <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Вы действительно хотите удалить категорию "{{ object.name }}"?</p>
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a href="{% url 'catalog:product_list' %}" class="btn btn-success">Отмена</a>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
