{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
    <!-- форма для создания категории -->
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">
                        {% if object %} <!-- если есть объект -->
                            Сохранить
                        {% else %} <!-- если нет объекта -->
                            Создать
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
