{#{% extends 'catalog/base.html' %}#}
{##}
{#{% block content %}#}
{#    <div class="row">#}
{#    <!-- форма для создания продукта -->#}
{#    <div class="col-md-6 offset-md-3">#}
{#        <div class="card">#}
{#            <div class="card-body">#}
{#                <form method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ form.as_p }}#}
{#                    <button type="submit" class="btn btn-primary">#}
{#                        {% if object %} <!-- если есть объект -->#}
{#                            Сохранить#}
{#                        {% else %} <!-- если нет объекта -->#}
{#                            Создать#}
{#                        {% endif %}#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{% extends 'catalog/base.html' %}
{% block content %}
    <div class="row">
        <!-- форма для создания продукта -->
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
{#                        <div class="form-group">#}
{#                            <label for="id_image">Изображение:</label>#}
{#                            {{ form.image }}#}
{#                        </div>#}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
